# Python Package
#
# Automatically build and test the package for supported Python 3.x versions.
#

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python: [3.6, 3.7]
    name: Python ${{ matrix.python }} ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Conda
        uses: s-weigand/setup-conda@v1
        with:
          activate-conda: true
          python-version: ${{ matrix.python }}
          conda-channels: pytorch
      - name: Install Requirements
        run: |
          conda install pytorch=1.5.0 torchvision=0.6.0 cpuonly -c pytorch
          conda install poetry invoke
          pip install pillow --force
      - name: Setup Dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install
      - name: Run Automated Tests
        run: |
          poetry run pytest -c tasks/pytest.ini -k test_match
      - name: Run Application Tests
        run: |
          poetry run pytest -c tasks/pytest.ini -k app_
      - name: Create Package
        run: |
          poetry build
