# Python Package
#
# Automatically build and test the package for supported Python 3.x versions.
#

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python: [3.6, 3.7, 3.8]
    name: ${{ matrix.os }} Python ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Conda
        uses: s-weigand/setup-conda@v1
        with:
          activate-conda: true
          python-version: ${{ matrix.python }}
          conda-channels: pytorch
      - run: |
          conda install -q -y pytorch torchvision cpuonly -c pytorch
          conda install -q -y poetry invoke
      - run: |
          ls -la lib
          ls -la lib/image-encoders
          poetry install
      - run: |
          poetry build
